<%- include("../partials/header") %>    

    <div style class="container">
        <div style="margin: 20px auto">
            <header class="jumbotron">
                <div class="container">
                    <h1>Welcome to YelpCamp</h1>
                    <p>View our hand-picked campground from all over the world</p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new Campground</a>
                    </p>
                </div>
            </header>
        </div>

        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="img-thumbnail">
                        <img class="img-fluid" style="height: 100px" src="<%= campground.image %>">
                        <div class="caption">
                            <%= campground.name %>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>                    
                </div>
            <% }); %>
        </div>
    </div> 
<%- include("../partials/footer") %>
